/* ページの全体 */
body {
    /* 背景のグラデーション */
    background: #5b90fa;
    /* フォントの種類 */
    font-family: 'Noto Sans JP', sans-serif;
    /* 文字の色 */
    color: #444444;
    /* 文字や画像の並べ方 */
    text-align: center;
}

/* 大見出し */
h1 {
    /* 文字の色 */
    color: #ffffff;
    /* 文字の装飾 */
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 2.5em;
}

/* 見出し */
h2 {
    /* 文字の色 */
    color: #ffffff;
    /* 文字の装飾 */
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
}

/* 最高気温 */
.maxtemp {
    /* 文字の色 */
    color: #ff0000;
}

/* 最低気温 */
.mintemp {
    /* 文字の色 */
    color: #0000ff;
}


/* 第１セクション */
.section1 {
    /* フレックスボックスで横並びにする */
    display: flex;
    /* 左右均等に並べる */
    justify-content: space-between;
}

/* 今日と明日の枠の設定  */
.today,
.tommorow {
    /* 背景の色 */
    background: rgba(255, 255, 255, 0.7);
    /* 影 */
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    /* 角の丸さ */
    border-radius: 10px;
    /* 文字や画像の並べ方 */
    text-align: center;
    /* 横幅 */
    width: 49%;
}

/* 天気の画像 */
.weather {
    width: 50px;
}

/* 天気の説明 */
.description {
    /* 文字の大きさ */
    font-size: 0.8em;
}

/* 第2セクション */
.section2 {
    /* 背景の色 */
    background: rgba(255, 255, 255, 0.7);
    /* 影 */
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    /* 角の丸さ */
    border-radius: 10px;
    /* 文字や画像の並べ方 */
    text-align: center;
}

/* 週間予報 */
.week {
    /* フレックスボックスで横並びにする */
    display: flex;
    /* 左右均等に並べる */
    justify-content: space-around;
}

/* フッター */
footer {
    /* 文字の色 */
    color: #ffffff;
    /* 文字の装飾 */
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* ハイパーリンク設定 */
/* リンクの色 */
a:link {
    /* 文字の色 */
    color: #ffffff;
    /* 文字の装飾 */
    text-decoration: none;
}

/* クリック済みのリンクの設定 */
a:visited {
    /* 文字の色 */
    color: #ffffff;
    /* 文字の装飾 */
    text-decoration: none;
}

/* マウスが当たっている時の設定 */
a:hover {
    /* 文字の色 */
    color: #444444;
    /* 文字の装飾 */
    text-decoration: underline;
}

/* マウスでクリックしている時の設定 */
a:active {
    /* 文字の色 */
    color: #ffffff;
    /* 文字の装飾 */
    text-decoration: none;
}